.backgroundImg{
    background-image:  url('../../public/imgs/background.jpg') ;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.textarea{
    opacity: none;
}