.backgroundImg{
    background-image:  url('../../public/imgs/background.jpg') ;
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.backgroundImg::before{
    content: "";
}
